body {
    font-family: Arial, sans-serif;
    --bs-body-bg: #1e1e1e;
    color: #ddd;
}

h1 {
    margin: 20px auto;
    text-align: center;
    color: #ffa500;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #555;
    text-align: left;
}

th {
    background-color: #333;
    color: #ffa500;
}

tr {
    color: #adb5bd;
}

tr:nth-child(even) {
    background-color: #444;
}

tr:nth-child(odd) {
    background-color: #555;
}

tr:hover {
    background-color: #333;
}

.back-button {
    display: block;
    width: 77%;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffa500;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.back-button:hover {
    background-color: #ff8500;
}

.forward-button {
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
    padding: 10px 20px 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffa500;
    color: #fff;
    cursor: pointer;
}

.forward-button:hover {
    background-color: #ff8500;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.header {
    color: #ffa500;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ddd;
}

textarea {
    width: 100%;

    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #ddd;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #ddd;
    margin-bottom: 10px;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffa500;
    color: #fff;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #ff8500;
}

#formattedCode {
    margin-top: 20px;
}
.msg-error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.footer {
    color: #ffa500;
    margin: 20px auto;
    text-align: center;
}