body {
    font-family: Arial, sans-serif;
    --bs-body-bg: #1e1e1e;
    color: #ddd;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #555;
    text-align: left;
}

th {
    background-color: #333;
    color: #ffa500;
}

tr {
    color: #adb5bd;
}

tr:nth-child(even) {
    background-color: #444;
}

tr:nth-child(odd) {
    background-color: #555;
}

tr:hover {
    background-color: #333;
}
